.container {
  position: absolute;
  width: 100%;
  height: 100%;
  
  .main {
    padding: 0 15px;
    margin-top: 16%;
    padding-bottom: 30px;

    h1 {
      color: #ff4848;
      width: 65%;
      margin: 0 auto;
      text-align: center;
    }

    h1 ~ span {
      text-align: center;
    }

    div.form-container {
      width: 100%;
      margin-top: 40px;

      form {

        div.md-form {
          margin-bottom: 30px;

          label {
            display: block;
            font-weight: bold;
            margin-bottom: 10px;
          }

          input {
            border: 1px solid #a0a0a0;
            border-radius: 4px;
            width: 98%;
            padding: 10px 0;
            padding-left: 5px;
          }
        }

        /* Green button */

        button {
          width: 100%;
          color: #fff;
          font-size: 16px;
          font-weight: bold;
          background-color: #10d610;
          padding: 19px;
          border: none;
          margin-top: 30px;
        }

        button[disabled] {
          background-color: #9e9e9e;
        }
      }
    }
  }
}

