<app-navbar></app-navbar>

<div class="main">
    <div style="margin-top: 40px;">
        <h2>
            Contacting nearby responders...
        </h2>
    </div>

    <div class='first-aid-tip'>
        <div class='header'>First aid tips</div>
        <ul>
            <li #firstAidTips>Control any bleeding by applying pressure on wound using a clean cloth.</li>
            <li #firstAidTips>If victim is vomiting or spitting out blood, lay victim on the side to prevent choking.</li>
            <li #firstAidTips>Do not give the victim any water, food or other fluids through the mouth, it could lead to the victim choking.</li>
        </ul>
    </div>

    <div>
        <div class="timer">Waiting time: 0:00</div>
        <button routerLink='cancel-report'>Cancel report</button>
    </div>
</div>