.social-btn-container {
  display: flex;
  flex-flow: column;
  margin-top: 20%;

  button {
    padding: 10px 10px;
    margin-bottom: 25px;
    border: none;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    font-size: 16px;
    font-weight: bold;

    .logo-container {
      height: 40px;
      width: 40px;

    img {
      height: 100%;
    }
    }
  }
}