<div class="social-btn-container">
    <button (click)="this.authService.loginWithGoogle()">
    <div class="logo-container">
      <img src="assets/images/google-logo.png" alt="" />
    </div>
    <ng-content select="[google-button]"></ng-content>
  </button>
    <button (click)="this.authService.loginWithFacebook()">
    <div class="logo-container">
      <img src="assets/images/facebook-logo.png" alt="" />
    </div>
    <ng-content select="[facebook-button]"></ng-content>
  </button>
</div>
