.container {
  padding: 0 15px;
}

.main {
  min-height: 91vh;

  .header {
    padding: 20px 0;
    background-color: #fff;

    h2 {
      color: #ED0000;
      margin: 0;
    }
  }

  .body {
    background-color: #dcdcdc;
    padding: 20px 0;
    min-height: 80vh;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: grid;
        background-color: #fff;
        border-radius: 4px;
        padding: 10px 10px;
        row-gap: 4vh;

        > div {
          display: grid;
          grid-template-columns: 0.3fr 3fr;
          align-items: flex-start;
          grid-column-gap: 3vw;
      

          fa-icon {
            color: #10D610;
            justify-self: center;
          }
        }
      }

      li:not(:last-child) {
        margin-bottom: 25px;
      }
    }
  }
}

