<app-navbar></app-navbar>

<div class="main">
    <div class="header">
        <div class="container">
            <h2>History</h2>
        </div>
    </div>

    <div class="body">
        <div class="container">
            <ul>
                <li>
                    <div>
                        <fa-icon [icon]='faMapPin'></fa-icon>
                        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque architecto libero excepturi, itaque esse accusamus autem quas modi omnis voluptatibus.</div>
                    </div>
                    <div>
                        <fa-icon [icon]='faClock'></fa-icon>
                        <div>08/06/2020, 12:11 a.m.</div>
                    </div>
                </li>
                <li>
                    <div>
                        <fa-icon [icon]='faMapPin'></fa-icon>
                        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque architecto libero excepturi, itaque esse accusamus autem quas modi omnis voluptatibus.</div>
                    </div>
                    <div>
                        <fa-icon [icon]='faClock'></fa-icon>
                        <div>08/06/2020, 12:11 a.m.</div>
                    </div>
                </li>
                <li>
                    <div>
                        <fa-icon [icon]='faMapPin'></fa-icon>
                        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque architecto libero excepturi, itaque esse accusamus autem quas modi omnis voluptatibus.</div>
                    </div>
                    <div>
                        <fa-icon [icon]='faClock'></fa-icon>
                        <div>08/06/2020, 12:11 a.m.</div>
                    </div>
                </li>
                <li>
                    <div>
                        <fa-icon [icon]='faMapPin'></fa-icon>
                        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque architecto libero excepturi, itaque esse accusamus autem quas modi omnis voluptatibus.</div>
                    </div>
                    <div>
                        <fa-icon [icon]='faClock'></fa-icon>
                        <div>08/06/2020, 12:11 a.m.</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>