<app-navbar></app-navbar>

<div class="hero">
    <div class="layer">
        <div class="img1" style='background-image: url("assets/images/landing-page/ambulance.jpg");'></div>
        <div class="img2" style='background-image: url("assets/images/landing-page/burning-house.jpg");'></div>
        <div class="img3" style='background-image: url("assets/images/landing-page/helicopter.jpg");'></div>
        <div class="img4" style='background-image: url("assets/images/landing-page/firetruck.jpg");'></div>
    </div>
    <div class="hero-message">
        <h2>Get Emergency Response To Road Accidents In Minutes</h2>
        <app-landing-page-buttons></app-landing-page-buttons>
    </div>
</div>

<div class="container">
    <div class="hero-2">
        <div class="top">
            <div class="diagram" style="background-image: url('assets/images/landing-page/phone-to-speaker.svg');"></div>
            <div class="message">
                <h2>Send a distress call</h2>
                <p>Make an identified or anonymous distresss call to nearby responders</p>
            </div>
        </div>
        <div class="middle">
            <div class="diagram" style="background-image: url('assets/images/landing-page/radar.svg');"></div>
            <div class="message">
                <h2>Call gets sent to nearby responders</h2>
                <p>All nearby emergency responders recieve the distress call</p>
            </div>
        </div>
        <div class="bottom">
            <div class="diagram" style="background-image: url('assets/images/landing-page/ambulance.svg');"></div>
            <div class="message">
                <h2>A responder accepts call and arrives at your location</h2>
                <p>The first responder to accept the call gets to the emergency location in minutes</p>
            </div>
        </div>
    </div>

</div>

<div class="hero-3">
    <div class="container">
        <div class="hero-message">
            <div class="diagram" style="background-image: url('assets/images/landing-page/photo-group.svg');">
            </div>
            <div class="message">
                <h2>Connected to your neighbourhood services</h2>
                <p>Responders are <b>hospitals, road saftey, fire fighters,</b> and other public and private services prepared to help you in your moment of need.</p>
            </div>
        </div>
    </div>
</div>

<div class='hero-4'>
    <div class='container'>
        <div class="message">
            <h2>Got an emergency?</h2>
            <div>
                <app-landing-page-buttons [giveRedBorder]='true'></app-landing-page-buttons>
            </div>
        </div>
    </div>
</div>