// Nav styles

nav {
  background-color: red;
  display: flex;
  padding: 20px 15px;
  justify-content: space-between;

  .logo {
    color: #fff;
  }
  
  .navbar-nav {
    position: relative;

    .hamburger {
      color: #fff;
    }

    .nav {
      position: fixed;
      top: 0;
      right: -200px;
      background-color: #fff;
      z-index: 1;
      height: 100%;
      display: flex;
      flex-direction: column;
      width: 50vw;
      box-shadow: -8px 0 21px rgba(0, 0, 0, 0.2);
      transition: 0.2s ease;

      .close {
        padding: 0 10px;
        padding-bottom: 7px;
        padding-top: 7px;
        border-bottom: 1px solid #a0a0a0;
        text-align: right;
        margin-bottom: 20px;
        font-size: 16px;
        cursor: pointer;
      }

      ul.nav-list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        li {
          display: block;
          padding-bottom: 39px;
          padding-right: 15px;
        }
      }
    }
    
    .nav.active {
      right: 0;
    }
  }
}

